<div id="firstPage">Welcome to
	
	<div id="titleLogo">
	</div>

	<div id="login_f">Login with<%= link_to(image_tag("facebook_f.png", :id => "facebookf"), {:controller => 'home', :action => 'login' }) %></div>
</div>