<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="stylesheets/popups.css" rel="Stylesheet" />
<link type="text/css" href="stylesheets/main.css" rel="Stylesheet" />
</head>

<body>
<div id="alter" class="pop_up">
    <div class="popupHeader"><span>＋　更改狀態</span><span class="rfloat close">×</span></div>
	<div class="popupMain">
      <div class="clothPic lfloat"><img src="images/cloth.jpg" /></div>
        <div class="input_attr">
            <div class="choose_light">
                <form>
                    <input type="radio" name="choose_light" value="green"> <font color="#00EF00">●</font>
                    <input type="radio" name="choose_light" value="red"> <font color="#ED0000">●</font>
                    <input type=text id="memo" name="memo">
                    <button class="check_light" type="submit" >確認</button><br>
                </form>
            </div>
        	<form>
        		隱私：
                <input type="radio" name="choose_privacy" value="public"> 公開
                <input type="radio" name="choose_privacy" value="private"> 非公開<br>
        		顏色：
                <input type="checkbox" name="choose_color" value="red"><font color="#ED0000">■</font>
                <input type="checkbox" name="choose_color" value="orange"><font color="#FF9406">■</font>
                <input type="checkbox" name="choose_color" value="yellow"><font color="#FFFD00">■</font>
                <input type="checkbox" name="choose_color" value="green"><font color="#00D600">■</font>
                <input type="checkbox" name="choose_color" value="l_blue"><font color="#07C0C2">■</font>
                <input type="checkbox" name="choose_color" value="blue"><font color="#0001BF">■</font>
                <input type="checkbox" name="choose_color" value="purple"><font color="#792EA5">■</font>
                <input type="checkbox" name="choose_color" value="pink"><font color="#FF97BF">■</font>
                <input type="checkbox" name="choose_color" value="white"><font color="#FFFFFF">■</font>
                <input type="checkbox" name="choose_color" value="gray"><font color="#999D9C">■</font>
                <input type="checkbox" name="choose_color" value="black"><font color="#000000">■</font>
                <input type="checkbox" name="choose_color" value="brown"><font color="#865415">■</font><br />
                分類：
                <input type="checkbox" name="choose_type" value="t11">T恤
                <input type="checkbox" name="choose_type" value="t12">襯衫
                <input type="checkbox" name="choose_type" value="t13">Polo衫
                <input type="checkbox" name="choose_type" value="t14">無袖
                <input type="checkbox" name="choose_type" value="t15">高領
                <input type="checkbox" name="choose_type" value="t16">毛衣<br /> 　　　
                <input type="checkbox" name="choose_type" value="t21">圍巾
                <input type="checkbox" name="choose_type" value="t22">帽子
                <input type="checkbox" name="choose_type" value="t23">髮飾
                <input type="checkbox" name="choose_type" value="t24">飾品<br /> 　　　
                <input type="checkbox" name="choose_type" value="t31">外套
                <input type="checkbox" name="choose_type" value="t32">大衣<br /> 　　　
                <input type="checkbox" name="choose_type" value="t41">牛仔褲
                <input type="checkbox" name="choose_type" value="t42">休閒褲
                <input type="checkbox" name="choose_type" value="t43">西裝褲
                <input type="checkbox" name="choose_type" value="t44">長裙
                <input type="checkbox" name="choose_type" value="t45">短裙<br />	            <button class="submit_all" type="submit" >送出資料</button> 　　　
        	</form>
        <div>
    </div>
    </div>
</div>

</body>
</html>
