<div id="globalContainer">
	<%= render "home/top" %>

	<div id="content">
	<% if @access_token %>
	<div id="left_menu" class="lfloat">
		<%= render "home/leftMenu" %>    
	</div>

	<div id="mainContainer" class="lfloat">
		<div class="closet" align="center">
			<table class="shelf">
			    <tr><td rowspan="4" class="shelf_space">大衣</td><td class="shelf_space">短袖上衣</td></tr>
			    <tr><td class="shelf_space">長袖上衣</td></tr>
			    <tr><td class="shelf_space">短褲</td></tr>
			    <tr><td class="shelf_space">長褲</td></tr>
			    <tr><td class="shelf_space">鞋子</td>
			    	<td class="shelf_space">飾品</td></tr>
		    </table>
		</div>
	</div>
	<div id="right_menu" class="rfloat"><%= render "home/rightMenu" %></div>

	<% end %>
	</div>
	<div id="footer"></div>
</div>