<html>
<body style="background-color: #F7E4E5;">
<div id="shadow" height="400px" width="900px">
<script>
	parent.document.getElementById("reminder").innerHTML = '<img src="uploads/<%= cookies[:path] %>" id="new_cloth">';

	alert("請將衣服拖曳至衣櫃中！");

	var sha = parent.document.getElementById("shadow");
	sha.parentNode.removeChild(sha);

	var win = parent.document.getElementById("window");
	win.parentNode.removeChild(win);	
</script>
</div>
</body>
</html>