<div id="create" class="pop_up">
    <div class="popupHeader"><span>＋　新增衣服</span><span class="rfloat" id="close">×</span></div>
	<div class="popupMain">
        <div id="photoshoot" style="float: left;">
                <div class="clothPic lfloat" id="screen"></div>
                <div id="buttons" style="text-align: center;">
                        <div>
                        <!--<a id="shootButton" href="">Shoot!</a>
                        <a id="cancelButton" href="">Cancel</a>-->
                        <button id="shootButton">Shoot!</button>
                        <button id="cancelButton">Cancel</button>
                        </div>
                </div>
        </div>
        
        <div class="input_attr">
        	<%= form_tag({:controller => :cloths, :action => :create_form}, :multipart => true, :class => "submit_form") do %>
            	<span>照片</span>
                檔案<%= file_field_tag 'upload_pic' %><br />
        		<span>隱私</span>
                <input type="radio" name="choose_privacy" value="公開" class="input"> 公開
                <input type="radio" name="choose_privacy" value="非公開" class="input"> 非公開<br>
        		<span>顏色</span>
                <input type="checkbox" name="choose_color[]" value="#ED0000" class="input"><font color="#ED0000">■</font>
                <input type="checkbox" name="choose_color[]" value="#FF9406" class="input"><font color="#FF9406">■</font>
                <input type="checkbox" name="choose_color[]" value="#FFFD00" class="input"><font color="#FFFD00">■</font>
                <input type="checkbox" name="choose_color[]" value="#00D600" class="input"><font color="#00D600">■</font>
                <input type="checkbox" name="choose_color[]" value="#07C0C2" class="input"><font color="#07C0C2">■</font>
                <input type="checkbox" name="choose_color[]" value="#0001BF" class="input"><font color="#0001BF">■</font>
                <input type="checkbox" name="choose_color[]" value="#792EA5" class="input"><font color="#792EA5">■</font>
                <input type="checkbox" name="choose_color[]" value="#FF97BF" class="input"><font color="#FF97BF">■</font>
                <input type="checkbox" name="choose_color[]" value="#FFFFFF" class="input"><font color="#FFFFFF">■</font>
                <input type="checkbox" name="choose_color[]" value="#999D9C" class="input"><font color="#999D9C">■</font>
                <input type="checkbox" name="choose_color[]" value="#000000" class="input"><font color="#000000">■</font>
                <input type="checkbox" name="choose_color[]" value="#865415" class="input"><font color="#865415">■</font><br />
                <span>分類</span>
                <input type="radio" name="choose_type" value="T恤" class="input">T恤
                <input type="radio" name="choose_type" value="襯衫" class="input">襯衫
                <input type="radio" name="choose_type" value="Polo衫" class="input">Polo衫
                <input type="radio" name="choose_type" value="無袖" class="input">無袖
                <input type="radio" name="choose_type" value="高領" class="input">高領
                <input type="radio" name="choose_type" value="毛衣" class="input">毛衣<br /> 　　　
                <input type="radio" name="choose_type" value="圍巾" class="input">圍巾
                <input type="radio" name="choose_type" value="帽子" class="input">帽子
                <input type="radio" name="choose_type" value="髮飾" class="input">髮飾
                <input type="radio" name="choose_type" value="飾品" class="input">飾品<br /> 　　　
                <input type="radio" name="choose_type" value="外套" class="input">外套
                <input type="radio" name="choose_type" value="大衣" class="input">大衣<br /> 　　　
                <input type="radio" name="choose_type" value="牛仔褲" class="input">牛仔褲
                <input type="radio" name="choose_type" value="休閒褲" class="input">休閒褲
                <input type="radio" name="choose_type" value="西裝褲" class="input">西裝褲
                <input type="radio" name="choose_type" value="長裙" class="input">長裙
                <input type="radio" name="choose_type" value="短裙" class="input">短裙<br /><br />
                <span>補充</span><br/>            
                <textarea id="des_area" name="description" width="600px"></textarea>　 	
                <button id="submit_cloth" class="submit_all" type="submit" >送出資料</button> 　　
        	<% end %>
        </div>
    </div>
</div>