<!--<p>YAAAAAAAAAA</p>
<p><%= cookies[:path] %></p>-->
<script>
	var sha = parent.document.getElementById("shadow");
	sha.parentNode.removeChild(sha);

	var win = parent.document.getElementById("window");
	win.parentNode.removeChild(win);
</script>